In [1]:
import pandas as pd
import math
import datetime

In [2]:
#загружаем содержимое файла 'task_support.xlsx' в pandas.dataframe 
#sheet_name=1 указывает на то что 1-лист (начиная от нуля) нужно считывать, 
#index_col=0 пропускаем нулевой столбец

df = pd.read_excel("task_support.xlsx", sheet_name=1, index_col=0)

In [3]:
#Посмотрим из чего состоит наш dataframe
df.head()

,num1,num2,num3,date1,date2,date3
NaN,Сколько четных чисел в этом столбце?,Сколько простых чисел в этом столбце?,"Сколько чисел, меньших 0.5 в этом столбце?",Столько вторников в этом столбце?,Сколько вторников в этом столбце?,Сколько последних вторников месяца в этом стол...
1.0,14.0,54.0,"0 ,481208997226 7124",Mon Aug 6 07:11:19 2018,2026-07-19 08:15:41.695463,10-04-2011
2.0,12.0,55.0,0 .9092218987487982,Thu Dec 1 01:32:03 2016,2006-08-06 16:18:39.172100,08-28-2006
3.0,25.0,2.0,0. 3268611158564687,Wed Aug 2 22:37:44 2028,2020-11-08 10:08:31.158667,11-21-2019
4.0,53.0,3.0,0. 38081302402434 647,Thu Feb 19 06:32:31 2009,2015-01-13 21:46:36.390139,06-26-2010

In [4]:
#dataframe содержит 6 столбцов, с разными данными, которых надо обработать 
#Далее считаем количество чётных чисел в столбце num1. Дынный код принимает число "0" как чётное число 

res1 = 0

for i in df['num1']:
    try:
        if i % 2 == 0:
            res1 +=1
    except:
        pass

print('Количество четных чисел в столбце num1:', res1)

Количество четных чисел в столбце num1: 507

In [5]:
#Считаем количество простых чисел в столбце num2
#Сначала понадобится функция для проверки является ли число простым
#части следующей функции взяты из https://www.programiz.com/python-programming/examples/prime-number 
#и немного изменены 

# Program to check if a number is prime or not
def isPrime(num):
    # define a flag variable
    flag = False
    
    # prime numbers are greater than 1
    if num > 1:
        # check for factors
        for i in range(2, int(math.sqrt(num)) + 1):
            if (num % i) == 0:
                # if factor is found, set flag to True
                flag = True
                # break out of loop
                break
    
    # check if flag is True
    return not flag

In [6]:
#теперь считаем количество простых чисел в столбце num2:
#здесь я предпологаю что столбец num2 содержит только целые числа в виде ###.0

res2 = 0

for l in df['num2']:
    try:
        if isPrime(l):
            res2 += 1
    except:
        pass

print("Количество простых чисел в столбце num2:", res2)

Количество простых чисел в столбце num2: 168

In [7]:
#Считаем количество чисел меньших 0.5 в столбце num3

res3 = 0

for k in df['num3']:
    #удаление всех лишних пробелов 
    k = k.replace(" ","")
    
    #пробуем каждый элемент преобразовать в float, и проверяем является ли число меньше 0.5
    try:
        if float(k) < 0.5:
            res3 += 1
    except:
        pass

print("Количество чисел меньших 0.5 в столбце num3:", res3)

Количество чисел меньших 0.5 в столбце num3: 361

In [8]:
#считаем количество вторников в столбце date1

res4 = 0

for day in df['date1']:
    #пишем содержимое строки в массив
    day = day.split()
    
    #проверяем первый элемент массива
    if day[0] == 'Tue':
        res4 += 1

print('Количество вторников в столбце date1:', res4)

Количество вторников в столбце date1: 156

In [9]:
#теперь считаем количество вторников в столбце date2:
#для этого сначала берём timestamp, оттуда извлечём число, и методом weekday() извлекаем день недели

res5 = 0

for day in df['date2']:
    try:
        day = pd.to_datetime(day.split()[0])
        if day.date().weekday() == 1:
            res5 += 1
    except:    
        pass

print("Количество вторников в столблце date2:", res5)

Количество вторников в столблце date2: 138